{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Modrý humr</title>
</head>
<body onclick="document.getElementById('click-text').style.visibility='hidden' ;document.getElementById('vid').style.visibility='visible'; document.getElementById('vid').play(); ">
    <div>
        <span id="click-text">CLICK</span>
        <video width="640" height="360" autoplay controls id="vid" style="visibility: hidden">
            <source src="{% static "video/blue_lobster.mp4" %}" type="video/mp4">
        </video>
    </div>
</body>
</html>