{% load static %}
<!DOCTYPE html>
<html lang="sk" style="height: 100vh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>IS Zelný trh - nová kategória</title>
</head>
<body>
    <header>
        <div  class="site_head" id="site_head">
            <div><a class="LOGO" href="{% url 'index:index' %}">ZELNÝ TRH</a></div>
            <div><a href="{% url 'index:login' %}"><span class="button">Odhlásenie</span></a></div>
        </div>
        <nav>
            <a href="{% url 'index:offers' %}"><span class="button">Ponuka</span></a>
            <a href="{% url 'index:harvests' %}"><span class="button">Zbery</span></a>
            <a href="{% url 'index:cart' %}"><span class="button">Košík</span></a>
            <a href="{% url 'index:profile' %}"><span class="button">Profil</span></a>
        </nav>
    </header>
    <main>
        {% if error %}
            <div class="message">{{ error }}</div>
        {% endif %}
        <form method="post" class="new_crop" id="new_crop">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" name="create" value="create" class="button">
                Vytvoriť kategóriu
            </button>
        </form>
    </main>
</body>
</html>