{% load static %}
<!DOCTYPE html>
<html lang="sk" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Zelný trh - Registrácia</title>
</head>
<body>
    <header>
        <div  class="site_head" id="site_head">
            <div><a class="LOGO" href="{% url 'index:index' %}">ZELNÝ TRH</a></div>
        </div>
    </header>
    <main>
        {% if error %}
            <div class="message">{{ error }}</div>
        {% endif %}
        <div class="more" id="more">
            <form method="post">
                {% csrf_token %}
                {{ form }}
             <br>
                <input type="submit" value="Sign Up" class="signup" id="signup">
            </form>
        </div>
    </main>
</body>
</html>