{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 100vh">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>IS Zelný trh - administrácia - categories</title>
</head>
<body>
    <header>
        <div  class="site_head" id="site_head">
            <div><a class="LOGO" href="{% url 'admin:index' %}">ZELNÝ TRH</a></div>
        {% if admin %}
            <div><a href="{% url 'admin:login' %}"><span class="button">Odhlásenie</span></a></div>
        {% else %}
            <div><a href="{% url 'admin:login' %}"><span class="button" >Login</span></a></div>
        {% endif %}
        </div>
    </header>
    {% if categories %}

        <div class="table_header" id="table_header">
            <label>Category ID</label>
            <label>Category name</label>
            <label>Category of</label>
            <label>Is approved</label>
            <label>Toggle approval</label>
            <label>Delete</label>
        </div>
        <br>
        {% for cat in categories %}
            <form method="post" id="table_form" class="table_form">
                {% csrf_token %}
                <input type="hidden" name="cat_id" value="{{ cat.id }}">
                <label>{{ cat.id }}</label>
                <label>{{ cat.category_name }}</label>
                <label>{{ cat.category_of_id }}</label>
                <label>{{ cat.approved }}</label>
                {% if cat.approved %}
                    <input type="submit" name="disallow" value="Disallow" class="toggle">
                {% else %}
                    <input type="submit" name="approve" value="Approve" class="toggle">
                {% endif %}
                <input type="submit" name="delete" value="Delete" class="toggle">
            </form>
        {% endfor %}

    {% else %}
        <label>Nothing to show for now</label>
    {% endif %}
</body>
</html>