{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 100vh">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>IS Zelný Trh - admin - harvests</title>
</head>
<body>
    {% load db_plug %}
    <header>
        <div  class="site_head" id="site_head">
            <div><a class="LOGO" href="{% url 'admin:index' %}">ZELNÝ TRH</a></div>
        {% if admin %}
            <div><a href="{% url 'admin:login' %}"><span class="button">Odhlásenie</span></a></div>
        {% else %}
            <div><a href="{% url 'admin:login' %}"><span class="button" >Login</span></a></div>
        {% endif %}
        </div>
    </header>
    {% if harvests %}
        <div class="table_header">
            <label>Harvest ID</label>
            <label>Farmer ID</label>
            <label>Crop ID</label>
            <label>Date</label>
            <label>Place</label>
            <label>Delete harvest</label>
        </div>
        {% for harvest in harvests %}
            <form method="post" id="table_form" class="table_form">
                <input type="hidden" name="harvest_id" value="{{ harvest.id }}">
                <label>{{ harvest.id }}</label>
                <label>{{ harvest.farmer }}</label>
                <label>{{ harvest.crop }}</label>
                <label>{{ harvest.date }}</label>
                <label>{{ harvest.place }}</label>
                <input type="submit" name="delete" value="Delete" class="toggle">
            </form>
        {% endfor %}
    {% else %}
        <label>Nothing to show for now</label>
    {% endif %}
</body>
</html>